.pure-button {
    --pure-button-text-color: var(--md-sys-color-primary);
    --pure-button-hover-text-color: var(--pure-color-primary);
    --pure-button-font-weight: 500;
    --pure-button-bg-color: transparent;
    --pure-button-hover-bg-color: var(--pure-color-primary-light);
    --pure-button-border-color: var(--md-sys-color-outline);
    --pure-button-box-shadow:var(--md-sys-elevation-0);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: 32px;
    white-space: nowrap;
    cursor: pointer;
    color: var(--pure-button-text-color);
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: 0.1s;
    font-weight: var(--pure-button-font-weight);
    user-select: none;
    vertical-align: middle;
    appearance: none;
    background-color: var(--pure-button-bg-color);
    border: var(--pure-border);
    border-color: var(--pure-button-border-color);
    padding: 8px 15px;
    font-size: var(--pure-font-size);
    border-radius: var(--pure-border-radius);
    box-shadow: var(--pure-button-box-shadow);
}


.pure-button.pure-button-primary {
    --pure-button-text-color: var(--md-sys-color-on-primary);
    --pure-button-bg-color: var(--md-sys-color-primary);
    --pure-button-border-color: var(--pure-color-primary);
    --pure-button-hover-text-color: #fff;
    --pure-button-hover-border-color: #fff;
}

.is-disabled,
.is-loading {
    cursor: not-allowed;
}

.pure-button:not([disabled], .is-loading):hover {
    filter: brightness(1.2);
}

.pure-button .pure-loading {
    left: -0.6em;
    top: -0.2em;
}