.pure-pagination {
    display: flex;
    white-space: nowrap;
    align-items: center;
  }
  .btn-prev{
    width: 3rem;
    height: 1.875rem;
    margin: 2px;
  }
  .pure-pager {
    user-select: none;
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .pure-pager li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    min-width: 2.375rem;
    height: 32px;
    line-height: 32px;
    color: var(--md-sys-color-on-secondary-container);
    background-color: var(--md-sys-color-surface-variant);
    padding: 0 4px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
  }